* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    background-color: rgb(176, 231, 239);
    width: 100%;
    text-align: center;
    padding: 20px;
}

.searchbar {
    margin: 20px;
    padding: 10px 150px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}